@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 222 47% 11%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222 47% 11%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 85%;
    --input: 214.3 31.8% 85%;
    --ring: 222 47% 11%;
    --radius: 0.6rem;

    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 215.4 16.3% 46.9%;
    --sidebar-primary: 222 47% 11%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 40% 96.1%;
    --sidebar-accent-foreground: 222 47% 11%;
    --sidebar-border: 214.3 31.8% 85%;
    --sidebar-ring: 222 47% 11%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body antialiased;
  }
  
  .shadow-sm, .shadow-md, .shadow-lg, .shadow, .shadow-xl {
    @apply shadow-none !important;
  }
  
  .border {
    @apply border-[1px] border-slate-300;
  }

  :focus-visible {
    @apply outline-none ring-1 ring-ring ring-offset-0;
  }

  [data-state=open].fixed.inset-0.z-50.bg-black\/80 {
    @apply bg-black/40 backdrop-blur-md transition-all duration-300;
  }

  /* Typography P Style - Ramping & Profesional */
  .typography-p {
    @apply text-sm leading-7 text-slate-900 font-normal tracking-tight;
  }

  .typography-muted {
    @apply text-sm leading-7 text-slate-400 font-normal tracking-tight;
  }

  .typography-h1 { @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl; }
  .typography-h2 { @apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0; }
  .typography-h3 { @apply scroll-m-20 text-2xl font-semibold tracking-tight; }
  .typography-h4 { @apply scroll-m-20 text-xl font-semibold tracking-tight; }
}